@import "tailwindcss";

@layer theme {
  :root {
    --color-background: oklch(100% 0 0);
    --color-foreground: oklch(13.85% 0.0238 265.75);
    --color-card: oklch(100% 0 0);
    --color-card-foreground: oklch(13.85% 0.0238 265.75);
    --color-popover: oklch(100% 0 0);
    --color-popover-foreground: oklch(13.85% 0.0238 265.75);
    --color-primary: oklch(56.79% 0.1737 262.29);
    --color-primary-foreground: oklch(97.78% 0.0078 264.53);
    --color-secondary: oklch(96.72% 0.0043 264.54);
    --color-secondary-foreground: oklch(16.86% 0.0283 265.75);
    --color-muted: oklch(96.72% 0.0043 264.54);
    --color-muted-foreground: oklch(54.77% 0.0217 256.11);
    --color-accent: oklch(96.72% 0.0043 264.54);
    --color-accent-foreground: oklch(16.86% 0.0283 265.75);
    --color-destructive: oklch(62.8% 0.2273 27.33);
    --color-destructive-foreground: oklch(97.78% 0.0078 264.53);
    --color-border: oklch(92.18% 0.0126 264.54);
    --color-input: oklch(92.18% 0.0126 264.54);
    --color-ring: oklch(56.79% 0.1737 262.29);
    --radius: 0.5rem;
  }

  .dark {
    --color-background: oklch(13.85% 0.0238 265.75);
    --color-foreground: oklch(97.78% 0.0078 264.53);
    --color-card: oklch(13.85% 0.0238 265.75);
    --color-card-foreground: oklch(97.78% 0.0078 264.53);
    --color-popover: oklch(13.85% 0.0238 265.75);
    --color-popover-foreground: oklch(97.78% 0.0078 264.53);
    --color-primary: oklch(64.53% 0.2545 264.46);
    --color-primary-foreground: oklch(16.86% 0.0283 265.75);
    --color-secondary: oklch(23.3% 0.0263 265.75);
    --color-secondary-foreground: oklch(97.78% 0.0078 264.53);
    --color-muted: oklch(23.3% 0.0263 265.75);
    --color-muted-foreground: oklch(70.94% 0.0223 256.27);
    --color-accent: oklch(23.3% 0.0263 265.75);
    --color-accent-foreground: oklch(97.78% 0.0078 264.53);
    --color-destructive: oklch(37.07% 0.1733 30.92);
    --color-destructive-foreground: oklch(97.78% 0.0078 264.53);
    --color-border: oklch(23.3% 0.0263 265.75);
    --color-input: oklch(23.3% 0.0263 265.75);
    --color-ring: oklch(51.35% 0.2255 266.29);
  }
}

@theme inline {
  --font-sans: var(--font-inter);
}


